STUDENT_ID=change_me
AWS_REGION=eu-west-1
S3_BUCKET=change-me-bucket
S3_PREFIX=aurora/change_me
RAW_PREFIX=aurora/change_me/raw
CURATED_PREFIX=aurora/change_me/curated
ANALYTICS_PREFIX=aurora/change_me/analytics
RDS_HOST=change-me.cluster-xxxxxxxx.eu-west-1.rds.amazonaws.com
RDS_PORT=3306
RDS_DATABASE=aurora
RDS_USER=aurora_app
RDS_PASSWORD=change_me
SPARK_MASTER_URL=spark://spark-master:7077
WEB_BASE_URL=http://change-me
LOG_GROUP_NAME=/aurora/change_me/clickstream
CW_DASHBOARD_NAME=aurora-dashboard-change_me
